<div class="main">
  <div class="username-card" *ngIf="!isUsernameStored">
    <div class="userinput">
      <input
        class="input-box"
        type="text"
        [(ngModel)]="username"
        placeholder="Enter your name..."
        (keydown.enter)="saveUsername()"
      />
      <button (click)="saveUsername()" class="username-btn">
        Set Username
      </button>
    </div>
  </div>
</div>

<div class="container" *ngIf="isUsernameStored">
  <!-- msg-header section starts -->
  <div class="msg-header">
    <div class="container1">
      <!-- <img src="user1.png" class="msgimg" /> -->
      <div class="active">
        <p>Shell Assistant</p>
      </div>
    </div>
  </div>
  <!-- msg-header section ends -->

  <!-- Chat inbox  -->
  <div class="chat-page">
    <div class="msg-inbox">
      <div class="chats" style="height: 75vh">
        <p style="font-size: 1.2rem; font-weight: bolder; text-align: center">
          Start a conversation by asking Questions related to Shell Energy
        </p>
        <!-- Message container -->
        <div class="msg-page">
          <!-- Incoming messages -->

          <div
            class="outgoing-msg-inbox"
            *ngFor="let message of messages; let i = index"
            [ngClass]="message.sender != 'Shell Assistant' ? 'right' : 'left'"
          >
            <!-- <div class="sender">{{ message.sender }}</div>
                <div class="content">{{ message.content }}</div> -->
            <span>{{ message.sender }}</span>
            <pre
              class="preformatted-text"
              [ngClass]="
                message.sender != 'Shell Assistant'
                  ? 'right-bubble'
                  : 'left-bubble'
              "
              style="font-weight: bold"
              >{{ message.content }}</pre
            >
            <span class="time">{{ message.timestamp | date : "medium" }}</span>
          </div>
        </div>
      </div>

      <!-- msg-bottom section -->

      <div class="msg-bottom">
        <div class="input-section">
          <input
            type="text"
            class="form-control"
            style="width: 100%"
            [(ngModel)]="newMessage"
            placeholder="Type your message..."
            (keydown.enter)="sendMessage()"
          />

          <span class="input-group-text send-icon" (click)="sendMessage()">
            <i class="bi bi-send"></i>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
